<!-- app/views/layouts/print.html.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>Print Accommodation Details</title>
		<%= stylesheet_link_tag 'print', media: 'all' %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
